<footer class="footer text-muted">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      
      <div class="col-lg-16 order-first order-lg-last text-lg-end ">
        <ul class="list-inline">
          {{ range .Site.Menus.footer }}
            <!-- <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li> -->
              <a href="{{ .URL }}" class="footer-link">
              {{ if eq .Name "NIST" }}<img src="/BF/images/125-NIST-logo-color.png" alt="NIST logo" style="height:80px; width:auto;">
              {{ else }}{{ .Name }}
              {{ end }}
            </a>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</footer>